In [1]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1= ['kimia', 'fisika', 1993, 2017]
list2= [1, 2, 3, 4, 5]
list3= ["a", "b", "c", "d"]

print('List 1:', list1)
print('List 2:', list2)
print('List 3:', list3)

List 1: ['kimia', 'fisika', 1993, 2017]
List 2: [1, 2, 3, 4, 5]
List 3: ['a', 'b', 'c', 'd']

In [3]:
#Cara mengakses nilai di dalam list Python

list1 = ['fisika', 'kimia', 1993, 2017]
list2 = [1, 2, 3, 4, 5, 6, 7]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  fisika
list2[1:5]:  [2, 3, 4, 5]

In [4]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2:", list[2])

list[2] = 2001
print ("Nilai baru ada pada index 2:", list[2])

Nilai ada pada index 2: 1993
Nilai baru ada pada index 2: 2001

In [5]:
#contoh cara menghapus nilai
list = ['fisika', 'kimia', 1993, 2017]
print(list)
del list[2]
print("setelah dihapus nilai pada index 2:", list)

['fisika', 'kimia', 1993, 2017]
setelah dihapus nilai pada index 2: ['fisika', 'kimia', 2017]

In [6]:
L= ['C++', 'Java', 'Python']

print('Indeks ke-2:', L[2])
print('Indeks ke-2 dari belakang:', L[-2])
print('Indeks ke 1 dan 2 :', L[1:])

Indeks ke-2: Python
Indeks ke-2 dari belakang: Java
Indeks ke 1 dan 2 : ['Java', 'Python']

In [7]:
#mengakses item dalam set
a = ("Rokok", "Korek", "Asbak")
print("Rokok" in a)


#menghapus item dalam set
a = {"Rokok", "Korek", "Asbak"}
a.remove("Korek")
print(a)

True
{'Rokok', 'Asbak'}

In [8]:
#contoh dictionary yang diisi item dengan berbagai jenis tipe data
x = {"nama": "Budi", "umur": 50, "tinggi_badan": 155.5}
print(x)

{'nama': 'Budi', 'umur': 50, 'tinggi_badan': 155.5}

In [9]:
#mengakses value dari dictonary
menteri={"nama": "Budi", "umur": 50}
print(menteri["umur"])                               #contoh membuat dictonary pada python
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

50
dict['Name']:  Zara
dict['Age']:  7

In [10]:
#mengubah item
dict={'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; #Mengubah entri yang sudah ada
dict['School'] = "DPS School" #Menambah entri baru

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [11]:
menteri = {"nama": "Budi", "umur": 58}
menteri["nama"] = "Adi"
print(menteri)

{'nama': 'Adi', 'umur': 58}

In [12]:
#menambah item
menteri= {"nama": "Budi", "umur": 50}
menteri[ "kementerian"] = "Setneg"
print(menteri)

{'nama': 'Budi', 'umur': 50, 'kementerian': 'Setneg'}

In [13]:
#menghapus item
menteri = {"nama": "Budi", "umur": 50, "kementerian": "Setneg"}
print(menteri.pop("kementerian"))

Setneg

In [ ]:
dict={'Name': 'Zara', 'Age': 7, 'Class': 'First'}

del dict['Name'] # hapus entri dengan key 'Name'
dict.clear() #hapus semua entri di dict
del dict #hapus dictionary yang sudah ada

print("dict['Age']: ", dict['Age'])
print("dict[ 'School']: ", dict['School'])

In [14]:
#Program untuk menghitung jumlah semua angka dalam sebuah list
L1=[2, 4, 5, 7, 9]
jumlah=0

#iterasi di dalan list
for i in L1:
  jumlah= jumlah + i

print(jumlah)

27

In [15]:
#Program untuk melakukan iterasi di dalam list melalui indeks
minum = ["teh","boba","kopi","susu"]
p = len(minum)

#iterasi di dalam list melalui indeks
for i in range(p):
  print(minum[i])

teh
boba
kopi
susu

In [16]:
for i in range(p):
  print(minum[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

In [17]:
#program untuk menjumlahkan semua
#bilangan asli hingga suku ke-n
#jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1
print(jumlah)

55

In [18]:
jum = 0
i =1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) #dieksekusi diluar looping

55

In [19]:
#jika angka adalah bilangan positif maka print "adalah bilangan positif"

angka=3
if angka > 0:
   print(angka, "adalah bilangan positif")
   print("pernyataan ini selalu ditampilkan")

angka=-1
if angka > 0:
   print(angka, "adalah bilangan positif")
   print("pernyataan ini juga selalu ditampilkan")

3 adalah bilangan positif
pernyataan ini selalu ditampilkan

In [20]:
# Program disusun untuk mengecek apakah angka tersebut kurang dari 0 atau tidak
# dan menampilkan tulisan yang sesuai

angka = 3
if angka >= 0:
  print("Bilangan lebih dari atau samadengan 0")
else:
  print("Bilangan kurang dari 0")

Bilangan lebih dari atau samadengan 0

In [21]:
# Program disusun untuk mengecek apakah dua buah angka sama atau tidak
# dan menampilkan tulisan yang sesuai

a=5
b=5

if a==b:
  print("a dan b bernilai sama")
else:
  print("a dan b bernilai berbeda")
  print("Belajar If Else")

a dan b bernilai sama

In [22]:
# Program disusun untuk mengecek apakah perbandingan dua buah angka
# dan menampilkan tulisan yang sesuai

#membaca dua angka
bill = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

# memilih bilangan yang lebih besar
if bill > bil2:
  bil_lebih_besar = bill
else:
  bil_lebih_besar = bil2

# menampilkan hasil
print("Bilangan yang lebih besar adalah:", bil_lebih_besar)

Masukkan bilangan pertama: 2
Masukkan bilangan kedua: 3
Bilangan yang lebih besar adalah: 3

In [23]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif atau sol
# dan menampilkan tulisan yang sesuai.

angka = 3.4

if angka > 0:
 print("Bilangan positif")
elif num == 0:
 print("No1")
else:
 print("Bilangan Negatif")

Bilangan positif

In [24]:
# Statement if
x = 4
if x % 2 == 0: # jika x dibagi 2 sisanya samadengan 0
   print("x habis dibagi dua")

# Statement if ... elif ... else
x = 7
if x % 2 == 0: # jika x dibagi 2 sisanya samadengan 0
   print("x habis dibagi dua")
elif x % 3 ==0: # jika x dibagi 3 sisanya samadengan 0
   print("x habis dibagi tiga")
elif x % 5 == 0: # jika x dibagi 5 sisanya samadengan 0
   print("x habis dibagi lima")
else:
   print("x tidak habis dibagi dua, tiga ataupun lima")

x habis dibagi dua
x tidak habis dibagi dua, tiga ataupun lima

In [25]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, négatif ataŭ no1.
# dan menampilkan tulisan yang semuas

angka = float(input("Masukkan angka: "))
if angka >= 0:
  if angka == 0:
    print("Nol")
  else:
    print("Bilangan Positif")
else:
  print("Bilangan Negatif")

Masukkan angka: 8
Bilangan Positif

In [26]:
#latihan 1
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
jumlah = 0

#iterasi di dalam list
for i in list_tagihan:
 jumlah = jumlah + i
print("total_tagihan : ", jumlah)

total_tagihan :  550000

In [28]:
#Latihan 2
tagihan = [50000, 75000, 125000, 300000, 200000]
jumlah_tagihan = len(tagihan)
i = 0
total_tagihan = 0
while i < jumlah_tagihan:
  total_tagihan += tagihan[i]
  i += 1
print(total_tagihan)

750000

In [30]:
#Latihan if else
harga = float(input("masukkan harga: "))
if harga >= 200000:
 print("Mahal")
 if harga >= 200000 and harga < 300000:
  diskon = "10%"
  harga_diskon = harga - (harga * 0.1)
 elif harga >= 300000 and harga < 400000:
  diskon = "20%"
  harga_diskon = harga - (harga * 0.2)
 else:
  diskon = "40%"
  harga_diskon = harga - (harga * 0.4)
  print("Kamu Dapat Diskon " , diskon)
else:
 print("Murah")
 harga_diskon = harga
 print("")
print("harga yang perlu dibayarkan", harga_diskon)

masukkan harga: 220000
Mahal
harga yang perlu dibayarkan 198000.0

In [31]:
#Latihan if else
harga = float(input("masukkan harga: "))
if harga >= 200000:
 print("Mahal")
 if harga >= 200000 and harga < 300000:
  diskon = "10%"
  harga_diskon = harga - (harga * 0.1)
 elif harga >= 300000 and harga < 400000:
  diskon = "20%"
  harga_diskon = harga - (harga * 0.2)
 else:
  diskon = "40%"
  harga_diskon = harga - (harga * 0.4)
  print("Kamu Dapat Diskon " , diskon)
else:
 print("Murah")
 harga_diskon = harga
 print("")
print("harga yang perlu dibayarkan", harga_diskon)

masukkan harga: 170000
Murah

harga yang perlu dibayarkan 170000.0